.p {
    padding-top: 12px;
    color: white;
}



.fa fa-industry {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -19px;
    font-size: 38px;
    left: 20px;
    display: flex;
    color: #fff;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}

.card3 {
    height: 1%;
    width: 17%;
    /* display: flex; */
    align-items: flex-end;
    text-align: right;
    right: 0%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    top: 21%;
    right: 62%;


}

.card2 {
    height: 15%;
    width: 17%;
    /* display: flex; */
    align-items: flex-end;
    text-align: right;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    top: 21%;
    right: 42.5%;
}

.card4 {
    height: 15%;
    width: 17%;
    /* display: flex; */
    align-items: flex-end;
    text-align: right;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    top: 21%;
    right: 23%;
}

.card5 {
    height: 15%;
    width: 17%;
    /* display: flex; */
    align-items: flex-end;
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    top: 21%;
    right: 3%;
}

.graph {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    flex: 1;
    margin-right: 10px;
    position: absolute;
    top: 440px;
    left: 290px;
    width: 494px;
    height: 400px;
}

.graph2 {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    flex: 1;
    margin-right: 10px;
    position: absolute;
    top: 440px;
    left: 816px;
    width: 494px;
    height: 400px;

}

.graph3 {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    flex: 1;
    margin-right: 10px;
    position: absolute;
    top: 870px;
    left: 290px;
    width: 494px;
    height: 400px;
}