.image1 {
    justify-content: first baseline
}

;

.image2 {
    display: flex;
    justify-self: end;

}

body {
    padding-top: 100px;
    /* Adjust the value as needed */
    margin-top: 10;

}

.h1 {
    scroll-padding-top: 10px;
    scroll-margin-top: 10px;


}
.image5{
    
    height: 17px;
    width: 17px;
  
}

.button-73 {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 0px 28px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 0rem 1rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    top:-5px;
    right: 1%;
  }
  
  .button-73:hover {
    background-color: #8067dc;
    box-shadow: #8067dc 0 -6px 8px inset;
    transform: scale(1.05);
  }
  
  .button-73:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 568px) {
    .button-73 {
      font-size: 1.5rem;
      padding: -0.25rem -0.25rem;
     
    }
  }